*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    /* border: 1px aquamarine solid; */
    background-color: aquamarine;
    padding: 10px;
    padding-right: 40px;
    color: black
}
.part{
    margin-top: 15px;
}
button{
    width: 10rem;
    height: 1.5rem;
    background-color: aquamarine;
}
a:hover{
    background-color: blue;
    color:red
}
li{
    padding: 10px;
    margin: 10px;
}
.left{
    margin-right: 30%;

}
.right{
    background-color: beige;
    padding: 10px;
}
.box{
    display: flex;
    /* justify-content: space-between; */
}
.container-image{
    background-image: url("https://static.toss.im/assets/homepage/newtossim/new_main.png");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 300px;
}
.content-text{
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%);
    color: azure;
    text-align: center;
}
.back-color{
    background-color: aquamarine;
    padding: 10px 20px;
    margin: 20px;
}
.navbar{
    display: inline-block;
}

.footer{
    background-color: black;
    position: sticky;
}
h2{
    color: white;
    text-align: center;
}